@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    background-image: url('./assets/bg-img.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

html{
    scroll-behavior: smooth;
}

p{
    color: aliceblue;
}

/* Transition */

a,
.btn {
    transition: all 300ms ease;
}

/* desktop-nav */

nav,
.nav-link{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-link{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: aliceblue;
    text-decoration: none;
    text-decoration-color: wheat;

}

a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color:rgb(181, 181, 181) ;

}

.logo{
    font-size: 2rem;
    color: white;
}

.logo:hover{
    cursor: default;
}


/* Hamburger-Menu */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:aliceblue;
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px , -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
   opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* section */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* profile section */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    border-radius: 2rem;
}
.section__pic-container,
.profile-img{
    border-radius: 500px;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.74rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* icon */

.icon{
    cursor: pointer;
    height: 2rem;
}

/* button */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;

}

.btn-color-1:hover{
    background-color: transparent;
    /* background: black; */
    color: white;
}
.btn-color-2:hover {
    /* background: rgb(53, 53, 53); */
    background-color: transparent;
    /* background: black; */
    color: white;
}


.btn-container{
    gap: 1rem;
}

/* about */

#about{
    position: relative;
}

.about-container{
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    }

.about-detail-container {
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-detail-container {
    display: flex;

}

.about-pic {
    border-radius: 2rem;

}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.detail-container{
    padding: 1.5rem;
    flex: 1;
    background-color: transparent;

    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    color: white;
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 50%;
    margin: auto 0;
    margin-left: 50px; 
}


/* ------------------------- */
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:aliceblue;
}

.tab-title{
    display: flex;
    margin: 50px;
    margin-left: 5px;
    width: 100%;
    
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
content: '';
width: 0;
height: 3px;
background: white;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: -20px;
    font-size: 14px;
    margin-left: 0px;

}

.tab-contains ul li span{
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.tab-contains ul li i{
    color: white;
}
.tab-contains ul li p{
    color: white;
}


.tab-contains{
    display: none;
}
.tab-contains.active-tab{
    display: block;
}

@media only screen and (max-width: 600px) {

    .tab-links{
        margin-left: -9px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;        

    }

    
}

/* Experince */

#Experince{
    position: relative;
}

.experince-sub-title{
    color: aliceblue;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experince-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.artical-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;

}

article .icon {
    cursor: default;
}

/* Project Section */

#Projects{
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background-color: transparent;


}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: white;
}

.project-btn{
    color: black;
    border-color: white;
}


/* Contact  */

#Contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(255,255,255) 0.1rem solid;
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem; 
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;

}
.email-icon{
  height: 2.5rem;  
}


/* Footer  */

footer {
    height: 26vh;
    margin: 0 1rem;

}

footer p{
    text-align: center;
}


.change-theme{
    color: var(--title-color);
    font-size: 1.125rem;
    cursor: pointer;
  }